In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('tg.csv')
df_T_v = df
df

,Ag,Al,Am,Ar,As,Au,B,Ba,Be,Bi,...,Tm,U,V,W,Xe,Y,Yb,Zn,Zr,TG
0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,434.15
1,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,427.15
2,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,422.15
3,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,46.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.15
4,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12165,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,503.10
12166,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,492.60
12167,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,478.30
12168,0.0,0.0,0.0,0.0,28.13,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,362.00
12169,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,542.00

In [3]:
df.shape

(12170, 87)

In [4]:
xx = df[df.columns[:-2]]
hist_data = xx.astype(bool).sum(axis=1)
hist_data.value_counts().sort_index()

1     174
2    3178
3    6995
4    1508
5     287
6      26
7       2
dtype: int64

In [5]:
xx.shape[0]-xx.drop_duplicates().shape[0]

5689

In [6]:
df = df.loc[(df['S']+df['Se']+df['Te']) > 0]
df

,Ag,Al,Am,Ar,As,Au,B,Ba,Be,Bi,...,Tm,U,V,W,Xe,Y,Yb,Zn,Zr,TG
0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,434.15
1,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,427.15
2,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,422.15
3,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,46.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.15
4,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12165,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,503.10
12166,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,492.60
12167,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,478.30
12168,0.0,0.0,0.0,0.0,28.13,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,362.00
12169,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,542.00

In [7]:
df = df.loc[(df['O']+df['N']+df['F']+df['Cl']+df['Br']+df['I']+df['Au']+df['Ag']+df['Pt']+df['Pd'])== 0]
df

,Ag,Al,Am,Ar,As,Au,B,Ba,Be,Bi,...,Tm,U,V,W,Xe,Y,Yb,Zn,Zr,TG
0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,434.15
1,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,427.15
2,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,422.15
3,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,46.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.15
4,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12165,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,503.10
12166,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,492.60
12167,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,478.30
12168,0.0,0.0,0.0,0.0,28.13,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,362.00
12169,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,542.00

In [8]:
a = ['Ag','Al','Am','Ar','As','Au','B','Ba','Be','Bi','Br','C','Ca','Cd','Ce','Cf','Cl','Co','Cr','Cs','Cu','Dy','Er','Eu','F','Fe','Ga','Gd','Ge','H','He','Hf','Hg','Ho','I','In','Ir','K','La','Li','Lu','Mg','Mn','Mo','N','Na','Nb','Nd','Ne','Ni','Np','O','Os','P','Pb','Pd','Pr','Pt','Ra','Rb','Re','Rh','Ru','S','Sb','Sc','Se','Si','Sm','Sn','Sr','Ta','Tb','Te','Th','Ti','Tl','Tm','U','V','W','Xe','Y','Yb','Zn','Zr']
a10 = ['Al','As','B','Ba','Bi','Cd','Cu','Dy','Er','Fe','Ga','Gd','Ge','In','K','La','Mn','Na','P','Pb','Pr','S','Sb','Se','Si','Sn','Tb','Te','Tl','Xe','Zn']

In [9]:
len(a)

86

In [10]:
def reject_outliers(data, m = 2.):
        d = np.abs(data - np.median(data))
        mdev = np.median(d)
        s = d/mdev if mdev else 0.
        return (s < m)

def mean_dup(x_):
        global reject_outliers
        if 1==len(np.unique(x_.values)):
            return x_.values[0]
        else:
            x = x_.values[reject_outliers(x_.values.copy())]
            x_mean = x.mean()
            mask = (x_mean*0.995 <= x) & (x <= x_mean*1.005)
            return x[mask].mean()

In [11]:
df_T_v = df_T_v[df_T_v[a].sum(axis=1).between(99,101)]
#md_columns[:-1] taking only those features on the basis of which we want to remove duplicates. here it is same as md_features.
df_T_v = df_T_v.groupby(a,as_index=False).agg(mean_dup)
df_T_v = df_T_v.dropna()
df =df_T_v

<ipython-input-10-cba2457602d2>:15: RuntimeWarning: Mean of empty slice.
  return x[mask].mean()
C:\Users\abhis\anaconda3\lib\site-packages\numpy\core\_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [12]:
df

,Ag,Al,Am,Ar,As,Au,B,Ba,Be,Bi,...,Tm,U,V,W,Xe,Y,Yb,Zn,Zr,TG
0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,293.00
1,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,356.15
2,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,348.15
3,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,353.15
4,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,353.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,0.0,8.34,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.00
6477,0.0,8.78,0.0,0.0,8.13,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,499.00
6478,0.0,8.78,0.0,0.0,8.13,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,499.15
6479,0.0,19.20,0.0,0.0,0.00,0.0,0.0,24.44,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,853.00
6480,0.0,21.25,0.0,0.0,0.00,0.0,0.0,8.11,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [22]:
df.to_csv("correct.csv", index =False)

In [13]:
xx1 = df[df.columns[:-2]]
hist_data1 = xx1.astype(bool).sum(axis=1)
hist_data1.value_counts().sort_index()

1       3
2     808
3    3583
4     917
5     196
6      25
7       2
dtype: int64

In [14]:
xx1.shape[0]-xx1.drop_duplicates().shape[0]

0

In [15]:
xx2 = df[df.columns[:-2]]
hist_data2 = xx2.astype(bool).sum(axis=0)
hist_data2.value_counts()
hist_data2

Ag       0
Al      79
Am       0
Ar       0
As    2341
      ...
W        0
Xe      12
Y        0
Yb       1
Zn      51
Length: 85, dtype: int64